# Ignore large models
*.pt
*.h5

# Temporary images
temp.jpg
output.jpg

# Python cache
__pycache__/
*.pyc

# Logs
logs/

# Dataset folders
dataset/

# Model folders
model/

# IDE files
.idea/
.vscode/

# System files
.DS_Store
